<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frog.agriculture.mapper.TraceCodeTemplateMapper">
    
    <resultMap type="TraceCodeTemplate" id="TraceCodeTemplateResult">
        <result property="templateId"    column="template_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="templateBgi"    column="template_bgi"    />
        <result property="templateWidth"    column="template_width"    />
        <result property="templateHeight"    column="template_height"    />
        <result property="qrcodeWidth"    column="qrcode_width"    />
        <result property="qrcodeHeight"    column="qrcode_height"    />
        <result property="qrcodeX"    column="qrcode_x"    />
        <result property="qrcodeY"    column="qrcode_y"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="baseCoordinate"    column="base_coordinate"    />
    </resultMap>

    <sql id="selectTraceCodeTemplateVo">
        select template_id,template_name, template_bgi, template_width, template_height, qrcode_width, qrcode_height, qrcode_x, qrcode_y, remark, status, order_num, create_by, create_time, update_by, update_time, del_flag, base_coordinate from agriculture_trace_code_template
    </sql>

    <select id="selectTraceCodeTemplateList" parameterType="TraceCodeTemplate" resultMap="TraceCodeTemplateResult">
        <include refid="selectTraceCodeTemplateVo"/>
        <where>  
            <if test="status != null  and status != ''"> and status = #{status}</if>
and del_flag = 0
        </where>
    </select>
    
    <select id="selectTraceCodeTemplateByTemplateId" parameterType="Long" resultMap="TraceCodeTemplateResult">
        <include refid="selectTraceCodeTemplateVo"/>
        where template_id = #{templateId} and del_flag=0
    </select>
        
    <insert id="insertTraceCodeTemplate" parameterType="TraceCodeTemplate" useGeneratedKeys="true" keyProperty="templateId">
        insert into agriculture_trace_code_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name,</if>
            <if test="templateBgi != null and templateBgi != ''">template_bgi,</if>
            <if test="templateWidth != null">template_width,</if>
            <if test="templateHeight != null">template_height,</if>
            <if test="qrcodeWidth != null">qrcode_width,</if>
            <if test="qrcodeHeight != null">qrcode_height,</if>
            <if test="qrcodeX != null">qrcode_x,</if>
            <if test="qrcodeY != null">qrcode_y,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="baseCoordinate != null and baseCoordinate != ''">base_coordinate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">#{templateName},</if>
            <if test="templateBgi != null and templateBgi != ''">#{templateBgi},</if>
            <if test="templateWidth != null">#{templateWidth},</if>
            <if test="templateHeight != null">#{templateHeight},</if>
            <if test="qrcodeWidth != null">#{qrcodeWidth},</if>
            <if test="qrcodeHeight != null">#{qrcodeHeight},</if>
            <if test="qrcodeX != null">#{qrcodeX},</if>
            <if test="qrcodeY != null">#{qrcodeY},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="baseCoordinate != null and baseCoordinate != ''">#{baseCoordinate},</if>
         </trim>
    </insert>

    <update id="updateTraceCodeTemplate" parameterType="TraceCodeTemplate">
        update agriculture_trace_code_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name = #{templateName},</if>
            <if test="templateBgi != null and templateBgi != ''">template_bgi = #{templateBgi},</if>
            <if test="templateWidth != null">template_width = #{templateWidth},</if>
            <if test="templateHeight != null">template_height = #{templateHeight},</if>
            <if test="qrcodeWidth != null">qrcode_width = #{qrcodeWidth},</if>
            <if test="qrcodeHeight != null">qrcode_height = #{qrcodeHeight},</if>
            <if test="qrcodeX != null">qrcode_x = #{qrcodeX},</if>
            <if test="qrcodeY != null">qrcode_y = #{qrcodeY},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="baseCoordinate != null and baseCoordinate != ''">base_coordinate = #{baseCoordinate},</if>
        </trim>
        where template_id = #{templateId}
    </update>

    <update id="deleteTraceCodeTemplateByTemplateId" parameterType="Long">
        update agriculture_trace_code_template set del_flag = 2 where template_id = #{templateId}
    </update>

    <update id="deleteTraceCodeTemplateByTemplateIds" parameterType="String">
        update agriculture_trace_code_template set del_flag = 2  where template_id in
        <foreach item="templateId" collection="array" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </update>
</mapper>